<html>
  <head>
    <title>Monitoring</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div align="center" class="hd">Monitoring System</div>
	<div align="center" class="sd">
	<a href="/">Home</a> |
	<a href="/login">Login</a> |
	<a href="/monitor">Monitoring</a>
	</div>
	
	
   
  
    <!--<form name="form1" method="post" action="">
      <p>&nbsp;</p>
      <table width="275" height="183" border="0" align="center" cellpadding="5" cellspacing="0" class="bg1">
        <tr>
          <td colspan="2" align="center" class="bg2">Admin Login </td>
        </tr>
        <tr>
          <td>Username</td>
          <td><input type="text" name="uname"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="text" name="pass"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input name="btn" type="submit" value="Login"></td>
        </tr>
      </table>
</form>-->
<div class="login">
			<h1>Login</h1>
			<!--<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="#">Register</a>
			</div>-->
			<form action="{{ url_for('login') }}" method="post">
				<label for="username">
					<i class="fas fa-user">U</i>
				</label>
				<input type="text" name="uname" placeholder="Username" required>
				<label for="password">
					<i class="fas fa-lock">P</i>
				</label>
				<input type="password" name="pass" placeholder="Password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
</body>
</html>
